.mt-2r {
  margin-top: 2rem;
}
.mt-1p5r {
  margin-top: 1.5rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container-logo-name {
  display: flex;
  align-items: center;
  gap: 2.1rem;
}

.container-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.item-width {
  width: 500px;
}
